@use '/src/styles/variables';

button.checkbox-styled {
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  color: variables.$color-white;
  background: variables.$color-dark;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    color: variables.$color-white;
    background-color: variables.$color-purple-1;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.2),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  &.enabled::after {
    left: 0;
    width: 100%;
  }
}
