@use '/src/styles/variables';

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-block-end: 4rem;

  section.steps-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease;
    transform: translateY(20px);

    div.steps {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .line {
        height: 2px;
        max-width: 120px;
        flex-grow: 1;
        background: variables.$color-white;
        transition: 0.2s ease;
        opacity: 0.6;

        &.completed {
          background: variables.$color-purple-2;
        }
      }

      .step {
        position: relative;
        display: flex;
        justify-content: center;
        transition: 0.2s ease;
        height: 15px;
        width: 15px;
        border: 4px solid variables.$color-white;
        border-radius: 50%;
        cursor: pointer;

        &.completed {
          height: 15px;
          width: 15px;
          background: variables.$color-purple-2;
          border-color: variables.$color-purple-2;
        }

        .icon {
          position: absolute;
          top: -60px;
          font-size: 40px;
          color: variables.$color-white;
          transition: color 0.2s ease;
          opacity: 0.6;

          &.selected {
            opacity: 1;
          }
        }
      }
    }
  }

  button.button-next {
    width: fit-content;
  }
}
